<!DOCTYPE html>
<html>
  <head>
    <title>BOOK2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <header>
      <span>Bookers</span>
      <% if user_signed_in? %>
    <li class="nav-item">
      <%= link_to 'Home', root_path %>
    </li>
    <li class="nav-item">
      <%= link_to 'About', about_path %>
    </li>
    <li class="nav-item">
      <%= link_to "Sign up", new_user_registration_path, method %>
    </li>
    <li>
      <%= link_to 'login', user_path(current_user.id) %>
    </li>
  <% else %>
<li class="nav-item">
      <%= link_to 'Home', root_path %>
    </li>
    <li class="nav-item">
      <%= link_to 'User', users_path %>
    </li>
    <li class="nav-item">
      <%= link_to "Books", destroy_user_session_path, method %>
    </li>
    <li>
      <%= link_to 'logout', user_path(current_user.id) %>
    </li>
      </header>
    <%= yield %>
    <footer></footer>
  </body>
</html>